---
    import PrimaryButton from './PrimaryButton.astro'
    import FounderImg from '../assets/images/image-founder.webp'
---
<div class="md:w-[795px] md:mx-auto">
    <img class="relative -z-10 top-14 size-72 mx-auto md:ml-3" src={FounderImg.src} alt="Founder image">
    <div class="bg-purple p-8 text-center md:w-[514px] md:right-0 md:ml-48">
        <h2 class="font-Fraunces text-white text-heading-s">
            Be the first to test
        </h2>
        <p class="text-white mb-6 mt-4  text-[160x] leading-7">
            Hi, I'm Louis Graham, the founder of the company. Book a demo call with me to become a beta tester for our app and kickstart your company. Apply for access below and I’ll be in touch to schedule a call.
        </p>
        <PrimaryButton text='Apply for access' />
    </div>
</div>
