---
    import logoDark from '../assets/images/logo-dark.svg'
    import FacebookIcon from '../assets/images/icon-facebook.svg'
    import TwitterIcon from '../assets/images/icon-twitter.svg'
    import InstagramIcon from '../assets/images/icon-instagram.svg'
---
<footer>
    <img src={logoDark.src} alt="Workit logo">
    <div class="flex">
        <a href="">
            <img src={FacebookIcon.src} alt="Facebook icon">
        </a>
        <a href="">
            <img src={TwitterIcon.src} alt="Twitter icon">
        </a>
        <a href="">
            <img src={InstagramIcon.src} alt="Instagram icon">
        </a>
    </div>
</footer>