---

import lightLogo from '../assets/images/logo-light.svg'
---
<header class="bg-purple flex justify-around"> 
    <img src={lightLogo.src} alt="">

    <a class="text-white" href="/">Apply for access</a>
</header>

