---
import PrimaryButton from "./PrimaryButton.astro"

import HeroImg from '../assets/images/image-hero.webp'
---
<div class="bg-purple h-[500px]">
    <h1 class="text-white text-heading-m font-Fraunces pt-16 mb-10 px-4 text-center">Data tailored to your needs.</h1>

    <PrimaryButton text="Learn more" />

    <img class="mx-auto mt-16 w-[320px]" src={HeroImg.src} alt="Cellphone image">
</div>
