---
import PrimaryButton from "./PrimaryButton.astro"

import HeroImg from '../assets/images/image-hero.webp'
---
<div>
    <h1>Data tailored to your needs.</h1>
    <PrimaryButton text="Learn more" />
    <img src={HeroImg.src} alt="Cellphone image">
</div>
