---
interface Props {
	text: string;
}

const { text } = Astro.props;
---
<div class="text-purple bg-primary py-3 px-6 min-w-32 max-w-44 text-center font-bold mx-auto transition hover:cursor-pointer hover:bg-purple hover:border-2 hover:border-primary hover:text-primary hover:transition-all hover:ease-in">
    <a href="">{text}</a>
</div>
